* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%; /* Ensure parent elements have defined height */
}

.donate_now {
    width: 100%;
    min-height: 100vh; /* Use full viewport height */
    position: relative; /* Allow absolute positioning within */
}

.bg_img {
    width: 100%;
    height: 100vh; /* Full height of the section */
    position: relative;
    display: flex; /* Flexbox to help with alignment */
    justify-content: center; /* Center pop_box horizontally */
    align-items: center; /* Center pop_box vertically */
    /* background-color: aqua; */
}

.bg_img img {
    width: 100%; /* Image takes up full width */
    height: 100vh; /* Takes full height of .bg_img */
    object-fit: cover; /* Maintain aspect ratio */
}

.pop_box {
    width: 380px;
    /* height: 438px; */
    padding: 40px 32px;
    background: #09383A;
    position: absolute; /* Keep position */
    top: 50px; /* Adjusted based on parent’s height */
    right: 5%; /* Position from right */
    border-radius: 20px;
    z-index: 10; /* Ensure it appears over other elements */
}

.pop_box > .title1{
    font-weight: 600;
    font-size: 45px;
    line-height:50px;
    letter-spacing: -4%;
    color: #F0F9DC;

}

.pop_box > p> .sp1{
    font-weight: 300;
    font-size: 45px;
    line-height:50px;
    letter-spacing: -4%;
    color: #F0F9DC;

}

.pop_box > p> .sp2{
    font-weight: 600;
    font-size: 45px;
    line-height:50px;
    letter-spacing: -4%;
    color: #F0F9DC;

}

.pop_box > .desc{
    font-weight: 400;
    font-size: 16px;
    line-height:18.77px;
    color: #F0F9DC;
    padding-bottom:10px ;
    padding-top:10px ;

}

.pop_box > button {
    background-color: #F4910F;
    padding: 14.5px 24px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23.44px;
    color:#09383A;
    text-transform: uppercase;
}
